.heading {
  text-transform: uppercase;
  margin: 3px 0 3px 10px;
  font-size: 18px;
}

.title {
  display: flex;
  background-color: black;
  margin: 0;
  color: white;
}

.subheading {
  text-transform: uppercase;
  font-size: 12px;
  color: black;
  margin: 12px 0;
}

.wrapper {
  margin: 15px 0;
  border: 1px solid black;
  /* height: auto; */
}

.mainContainer {
  display: flex;
  /* height: auto; */
  /* border: 5px solid slateblue; */
}

.mainContainer p {
  font-size: 14px;
  line-height: 1.6;
}

.flip {
  flex-direction: row-reverse;
}

.projectDescription {
  flex: 20%;
  margin: 5px 2.5px;
  display: flex;
  flex-direction: column;
}

.projectContainer, .previewContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 100%;
  box-sizing: border-box;
  padding: 7px;
}

.projectContainer {
  margin: 0;
}

.previewContainer {
  flex: 80%;
  justify-content: flex-start;
}

.previewContainer>img {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: black;
  /* min-height: 240px; */
  min-width: 320px;
  height: auto;
  margin: 2px 0;
}

.image {
  object-fit: contain;
}

.media {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
}

.projectPreview {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px 2.5px;
}

@media screen and (min-width: 1400px) {
  .wrapper {
    margin: 15px 300px;
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    margin: 15px 200px;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    margin: 15px 80px;
  }
}

@media screen and (max-width: 950px) {
  .wrapper {
    margin: 15px 0px;
  }
}

@media screen and (max-width: 780px) {
  .wrapper {
    margin: 15px 0;
  }
  .mainContainer {
    flex-direction: column-reverse;
  }
  .flip {
    flex-direction: column-reverse;
  }
  .projectPreview >h1 {
    display: none;
  }
  .previewContainer>img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    margin: 15px 0;
  }
  .previewContainer>img {
    min-height: 195px;
    min-width: 200px;
  }
}