

.svgWrapper {
  margin: 20px auto 0;
}

.selfPortrait {
  animation: fadeIn 2s ease-in;
  width: 200px;
  transform: rotate(2deg);
}

.shp0 { 
  fill: #505050;
} 

.shp1 {
  fill: #dcdcdc
} 

.shp2, .eyes {
  fill: #000000
} 

.eyes {
  animation: blink 3s infinite;
}

.laptopHidden {
  display: none;
}

.laptop {
  animation: slideInFromLeft 1s cubic-bezier(0.215, 0.610, 0.355, 1);
  position: absolute;
  top: 152px;
  left: calc(50% - 80px);
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

@keyframes blink {
  0%, 4% {
    transform-origin: center;
    transform: none
  } 
  1%, 3% {
    transform-origin: center;
    transform: scale(1, 0.15) translateY(-20px) skew(0deg, -55deg)
  }
}

@keyframes slideInFromLeft {
  from {
    left: -100px;
  }
  to {
    left: calc(50% - 80px);
  }
}
